<!-- base.html - HTML para a página base -->
<!DOCTYPE html>
<html lang="pt-br">
{% load static %}
<head>
  <meta charset="UTF-8">
  <title>{% block title %}Zure Cosméticos{% endblock %}</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>
<body>
  <div class="container-fluid" id="div-principal">
    {% block content %}
    {% comment %} Seção da navbar {% endcomment %}
    <nav class=" container-fluid fixed-top navbar navbar-expand-lg navbar-light bg-light"> 
      <div class="container"> 
        <button class="navbar-toggler border-0 ms-auto shadow-none" type="button" 
          data-bs-toggle="collapse" 
          data-bs-target="#navbarContent" 
          aria-controls="navbarContent" 
          aria-expanded="false" 
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent"> 
            <ul class="navbar-nav me-auto mb-2 mb-lg-0"> 
              <li class="nav-item"><a class="nav-link" aria-current="page" href="#">Inicio</a></li> 
              <li class="nav-item"><a class="nav-link" href="#">Sobre</a> </li> 
              <li class="nav-item"> <a class="nav-link" href="#">Destaques</a> </li> 
              <li class="nav-item"> <a class="nav-link" href="#">Produtos</a> </li> 
              <li class="nav-item"> <a class="nav-link" href="#">Fundadores</a></li>
            </ul>
            <div class="d-flex flex-column flex-lg-row align-items-lg-center justify-content-lg-end gap-4 w-100 w-lg-auto">
              <input type="search" 
              class="form-control rounded-pill col-4 input-style" 
              placeholder="O que você procura?" 
              style="width: 100%; max-width: 350px;"/>
              <a href="{% url 'login'%}" class="text-dark" style="font-size: 1.5rem;">
                <i class="bi bi-person-circle"></i>
              </a>
              <a href="{% url 'carrinho' %}" class="text-dark" style="font-size: 1.5rem;">
                <i class="bi bi-basket2-fill"></i>
              </a>
            </div>            
        </div> 
      </div> 
    </nav>

    {% comment %} Seção do Banner {% endcomment %}
    <div class="container-fluid g-0 position-relative" id="div-banner">
      <img id="banner">
      <div class="position-absolute" id="div-texto-banner">
        <h1 class="text-light">Zure <br>Cosméticos</h1>
        <p class="text-light">Realce sua beleza natural com nossos produtos de alta performance.</p>
        <button type="button" class="btn btn-style position-absolute" id="btn-banner">Ver Produtos</button>
      </div>
    </div>

    {% comment %} Seção Sobre Nós {% endcomment %}
    <div class="container-fluid d-flex flex-column container-fluid text-center align-items-center bg-light" id="div-sobre">
      <h2 class="fw-bold my-3">Sobre Nós</h2> 
      <p class="mb-3 col-10">Há mais de 5 anos no mercado, a Zure Cosméticos nasceu do sonho de 
        uma família apaixonada por beleza, cuidado e autenticidade. Fundada e gerida 
        por mãe e filhos, somos uma empresa 100% brasileira que acredita no poder do 
        cuidado diário para realçar a beleza natural de cada pessoa.

        Atendemos todo o Brasil com uma linha de produtos desenvolvidos com alta 
        performance, fórmulas seguras e ingredientes selecionados, sempre pensando na 
        saúde e bem-estar dos cabelos. Cada item é pensado com carinho, 
        responsabilidade e compromisso com a qualidade.
        
        Na Zure, não vendemos apenas cosméticos — entregamos experiências de cuidado 
        que transformam rotinas e elevam a autoestima.</p>
    </div>

    {% comment %} Seção de produtos em destaque {% endcomment %}
    <div class="container-fluid text-center" id="div-destaques">
      <h2 class="fw-bold my-3">Destaques</h2>

    </div>

    {% comment %} seção do Video de apresentação {% endcomment %}


    {% comment %} Seção dos produtos {% endcomment %}
    <div class="text-center" id="div-produtos">
      <h2 class="fw-bold mt-4 mb-3">Nossos Produtos</h2>
      <ul class="list-unstyled d-flex justify-content-center gap-3" id="ul-produtos">
        <li>
          <a class="text-dark text-decoration-none"href="{% url 'destaque1' %}">Leave-in</a>
        </li>
        <li>
          <a class="text-dark text-decoration-none"href="{% url 'destaque1' %}">Óleo de argan</a>
        </li>
        <li>
          <a class="text-dark text-decoration-none"href="{% url 'destaque1' %}">Kit Matizador</a>
        </li>
        <li>
          <a class="text-dark text-decoration-none"href="{% url 'destaque1' %}">Kit Café</a>
        </li>
      </ul>
    </div>

    {% comment %} Seção de comentarios dos clientes {% endcomment %}


    {% comment %} conheça nossos fundadores {% endcomment %}


    {% comment %} footer {% endcomment %}
    <footer class="container-fluid bg-light py-3">
      <div class="container d-flex flex-wrap">
          <div class="col-md-6 mb-3 mb-md-0">
              <h5 class="">Institucional</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-dark text-decoration-none">Início</a></li>
                  <li><a href="#" class="text-dark text-decoration-none">Produtos</a></li>
                  <li><a href="#" class="text-dark text-decoration-none">Política de privacidade</a></li>
                  <li><a href="#" class="text-dark text-decoration-none">Política de trocas e devoluções</a></li>
              </ul>
          </div>
          <div class="col-6 col-md-6 mb-3 mb-md-0">
              <h5 class="">Contato</h5>
              <ul class="list-unstyled">
                  <li><a href="#" class="text-dark text-decoration-none">+55(11)947244958</a></li>
                  <li><a href="#" class="text-dark text-decoration-none">zurecosmeticos@hotmail.com</a></li>
                  <li><a href="#" class="text-dark text-decoration-none">Rua Mica, 150 - Itaquaquecetuba - SP</a></li>
              </ul>
          </div>
      </div>  
      <p class="mb-0 text-center">© 2023 Zure Cosméticos. Todos os direitos reservados.</p>
    </footer>
    {% endblock %}
  </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>